<a href="https://colab.research.google.com/github/Li-Yi-Shiang/Computational-Thinking-and-Program-Design/blob/master/%E6%9D%8E%E6%80%A1%E6%B9%98_week13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# 資料容器-List

## 文字串列
## 數字串列
## 混和串列

list1 = [1,2,3,4,5]

## 索引 position index - 0

list1[0] # 1
list1[4] # 5
list1[-1] # 5

## **切片**
list1[1:4] # [2, 3, 4]

# 數字串列二: range()
list1 = [1,2,3,4,5]

list2 = range(1,10000,1) # [1,2,3,4,5]

list3 = range(1,6,2) # [1,3,5]

In [20]:
# range(start, stop, step)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
## star = 0, step = 1, stop = 10
range(0,10,1)
range(0,10)
list4 = range(10)
print(list4[0], list4[1], list4[2], list4[3], list4[4], list4[5], list4[6], list4[7], list4[8], list4[9])


# [0,2,4,6,8]
## star = 0, step = 2, stop = 10
k = range(0,10,2)
print(k[0], k[1], k[2], k[3], k[4])

# [5,7,9]
## star = 5, step = 2, stop = 11
p = range(5,11,2)
print(p[0], p[1], p[2])

# [0,-1,-2,-3,-4,-5,-6,-7,-8,-9]
## star = 0, step = -1, stop = -10
h = range(0,-10,-1)
print(h[0], h[1], h[2], h[3], h[4], h[5], h[6], h[7], h[8], h[9])

0 1 2 3 4 5 6 7 8 9
0 2 4 6 8
5 7 9
0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [30]:
for i in range(1,6,1):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [33]:
#數字1到10之和。
## 1+2+3+4+5+6+7+8+9+10=?
sum = 0 # 起始條件
for i in range(1,11,1): #數字串列[1,2,3,4,5,6,7,8,9,10]
  sum = sum + i # 加總運算,變更條件
print("Total is", sum)

Total is 55

In [31]:
# 2+4+6+8+10 = ?
sum = 0
for i in range(2,11,2):
  sum = sum + i
print("Total is", sum)

Total is 30

In [32]:
# 3+6+9+12 = ?
sum = 0
for i in range(3,15,3):
  sum = sum + i
print("Total is", sum)

Total is 30